@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Oswald", sans-serif;
  color: #000;
  background-attachment: fixed;
}

.bgimg-1 {
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.logo {
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

/*about me*/

.about {
  padding-top: 8.3%;
  padding-bottom: 0.4%;
  font: 20px "Roboto Condensed", sans-serif;
  letter-spacing: 15px;
  text-align: center;
  font-weight: bold;
}

.columns {
  font: 85% 'Montserrat', sans-serif;
  color: #404040;
  letter-spacing: 1.5px;
  line-height: 19px;
  padding-top: 20px;
  padding-bottom: 20%;
}

.bgimg-2 {
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
}

/* portfolio */

.portfolio {
  padding-top: 5%;
  padding-bottom: 0%;
  font: 20px "Roboto Condensed", sans-serif;
  letter-spacing: 15px;
  text-align: center;
  font-weight: bold;
}

.photo {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.hover-img:hover .overlay {
  height: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.hover-img {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  height: 100%;
}

.subsec {
  padding-top: 10%;
  padding-bottom: 7%;
  font: 17px "Roboto Condensed", sans-serif;
  letter-spacing: 10px;
  text-align: center;
}

.proj {
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.proj-header {
  font: 14px "Roboto Condensed", sans-serif;
  padding-top: 20px;
  letter-spacing: 7px;
}

.proj-feature {
  font: 12px 'Montserrat', sans-serif;
  color: #404040;
  letter-spacing: 1.5px;
  line-height: 19px;
  text-align: left;
  padding-bottom: 20%;
}

.bgimg-3 {
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
}

.contactH {
  padding-top: 5%;
  padding-bottom: 0%;
  font: 20px "Roboto Condensed", sans-serif;
  letter-spacing: 15px;
  text-align: center;
  font-weight: bold;
}

.contact-icons {
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 20%;
}

.bgimg-4 {
  min-height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
}

a{
  color: #000;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

[title="GitHub"]:hover {
  color: rgb(114, 49, 132);
  text-decoration: none;
}

[title="GitHub"]:not(:hover) {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

[title="LinkedIn"]:hover {
  color: rgb(0, 119, 181);
  text-decoration: none;
}

[title="LinkedIn"]:not(:hover) {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

[title="Resume"]:hover {
  color: rgb(178, 36, 52);
}

[title="Fast-Pass Website"]:hover {
  color: rgba(209, 205, 1, 1.00);
}

[title="Local Coffee Shop Repo"]:hover {
  color: rgb(253, 202, 162);
}

[title="Noto Demo Videos"]:hover {
  color: rgb(154, 206, 223);
}

[title="Uvida Repo"]:hover {
  color: rgb(117, 137, 191);
}

[title="Sugar Rush Demo Video"]:hover {
  color: rgb(251, 182, 209);
}

[title="UXtra Repo"]:hover {
  color: rgb(95, 186, 191);
}

[title="Email"]:hover {
  color: rgb(145, 210, 144);
}

[center] {
  text-align: center;
}